@using NotikaIdentityEmail.Models.ForgetPasswordModels
@model ForgetPasswordViewModel

@{
    Layout = null;
}

@await Component.InvokeAsync("HeaderUserLayout")


<div class="container">
    <br /><br />
    <h2 class="text-center">Yeni şifre Talebi</h2>

    <form method="post">

        <div class="form-group">
            <label for="Email">E-posta Adresi</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="E-posta adresinizi giriniz" required />  <!-- value="@Model.Email" -->
        </div>
        <button type="submit" class="btn btn-primary">Şifre Sıfırlama Bağlantısı Gönder</button>

    </form>

</div>

@await Component.InvokeAsync("FooterUserLayout")
