@model UpdateRoleViewModel
@{
    ViewData["Title"] = "Rol Güncelle";
    Layout = "~/Views/UserLayout/Index.cshtml";
}

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Rol Güncelleme</h2>
                        <p>Güncellemek istediğiniz rol adını aşşağıdaki kutucuklardan değiştirebilirsiniz.</p>
                    </div>
                    <form method="post">
                        <div class="row">
                            <div class=""> </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input asp-for="@Model.RoleId" type="hidden" />

                                        <input type="text" class="form-control" asp-for="RoleName" placeholder="Rolü Giriniz.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <button class="btn btn-success"> Kaydet </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>