@using NotikaIdentityEmail.Models.IdentityModels
@model UserEditViewModel
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/UserLayout/Index.cshtml";
}

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Profilini Düzenle</h2>
                        <p>Bilgilerinizi eksiksiz olarak doldurunuz.</p>
                    </div>
                    <form action="EditProfile" method="post">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" asp-for="UserName"  placeholder="Kullanıcı adınız">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" asp-for="FirstName" placeholder="Adınız">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" asp-for="LastName" placeholder="Soyadınız">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" asp-for="City" placeholder="Şehiriniz">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Fotoğraf URL bilgisi">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Telefon Numarası">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" asp-for="Email" placeholder="Email adresiniz">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="password" class="form-control" asp-for="Password" placeholder="Şifreniz">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="password" class="form-control" asp-for="PasswordConfirm" placeholder="Tekrar şifreniz">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success"> Kaydet </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>